<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <a class="navbar-brand" href="/">
    <i class="fas fa-cocktail fa-3x" style='color:#fa004f;'></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="filter: invert(9%) sepia(95%) saturate(5801%) hue-rotate(375deg) brightness(242%) contrast(206%);"></span>
  </button>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="new_cocktail_title">Create a new cocktail</h1>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
      <br>
    </div>
  </div>
</div>


<%# <%= render "components/footer2" %>
